.btn-green{
    background-color: green;
    border: 3px solid rgb(94, 236, 94);
    color: white;
    border-radius: 10px;
    scale: 1.5;
}
.btn-blue{
    background-color: blue;
    border: 3px solid rgb(75, 75, 255);
    color: white;
    border-radius: 10px;
}
.btn-red{
    background-color: red;
    border: 3px solid rgb(244, 84, 84);
    color: white;
    border-radius: 10px;
}
.btn-yellow{
    background-color: yellow;
    border: 3px solid rgb(244, 244, 112);
    color: white;
    border-radius: 10px;
}
.btn-orange{
    background-color: orange;
    border: 3px solid rgb(239, 191, 101);
    color: white;
    border-radius: 10px;
}
.btn-purple{
    background-color: purple;
    border: 3px solid rgb(194, 66, 194);
    color: white;
    border-radius: 10px;
}
.btn-pink{
    background-color: rgb(252, 144, 162);
    border: 3px solid pink;
    color: white;
    border-radius: 10px;
}
.btn-yellow{
    background-color: cyan;
    border: 3px solid rgb(134, 249, 249);
    color: white;
    border-radius: 10px;
}
.btn-brown{
    background-color: brown;
    border: 3px solid rgb(162, 84, 84);
    color: white;
    border-radius: 10px;
}
.btn-white{
    background-color: #f2f2f2;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
.btn-black{
    background-color: black;
    color: white;
    border-radius: 10px;
}
.btn-magenta{
    background-color: magenta;
    border: 3px solid rgb(236, 97, 236);
    color: white;
    border-radius: 10px;
}
.btn-gold{
    background-color: gold;
    border: 3px solid rgb(240, 205, 139);
    color: white;
    border-radius: 10px;
}
